// ###### 博客内容透明化 ######

// 文章内容的透明度设置
.post-block {
	background: rgba(255,255,255,0.9) none repeat scroll !important;
}

// 分页(主页最下面的那一小块)
.pagination {
	background: rgba(255,255,255,0.5);
}

// 菜单栏背景
.header-inner {
	background: rgba(255,255,255,0.5);
}

// 侧边框的透明度设置
.sidebar-inner {
	background: rgba(255,255,255,0.5) none repeat scroll !important;
}

// 搜索框（local-search）的透明度设置
.popup {
	opacity: 0.5;
}

// 评论区
.comments {
	background: rgba(255,255,255,0.5);
}
